.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html {
  font: 4.267vw $nunitosans; //rem(16)
  background-color: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}
body {
  height: 100%;
}

main {
  display: block;
  //position: relative;
}
button,label {
  cursor: pointer;
}
button {
  border: none;
}
a {
  text-decoration: none;
  outline: none;
}

.invisible {
  visibility: hidden!important;
  position: absolute!important;
}

.main {
  font-family: $nunitosans;
  height: 100%;
}

.wrapper {
  width: $app_width;
  @include box-sizing(border-box);
  position: relative;
  //overflow: hidden;
  &.outer {
    display: table;
    position: absolute;
    height: 100%;
    padding-left: rem(30);
    padding-right: rem(30);
  }
  &.full-height {
    //position: absolute;
    //height: 100%;
    min-height: 100%;
  }
  &.with-header {
    padding-top: rem(50);
  }
  &.with-menu {
    padding-bottom: rem(55);
  }
  &.with-bottom-btns {
    padding-bottom: rem(85);
  }
  &.padding-bottom {
    padding-bottom: rem(190);
  }
}
.padd {
  padding-left: rem(25);
  padding-right: rem(25);
}

.page-inner {
  padding: rem(25);
}

// Buttons
.btn1 { // blue inline-block padding-left-right
  display: inline-block;
  border-radius: rem(3);
  background-color: #2a86e1;
  height: rem(40);
  padding: 0 rem(12);
  font: rem(16) $nunitosans;
  color: #fff;
  white-space: nowrap;
}
a.btn1 {
  line-height: rem(40);
}

.btn2 { // light blue button 100% wide width
  display: block;
  height: rem(45);
  border-radius: rem(3);
  background-color: #ebf7ff;
  font: rem(18) $nunitosans-bold;
  color: #2a86e1;
  white-space: nowrap;
  text-align: center;
}
a.btn2 {
  line-height: rem(45);
}
button.btn2 {
  width: 100%;
}

.btn3 { // blue, inline-block, fixed width
  display: inline-block;
  width: rem(170);
  height: rem(55);
  border-radius: rem(3);
  background-color: #2a86e1;
  font: rem(18) $nunitosans-bold;
  color: #fff;
  text-align: center;
}
a.btn3 {
  line-height: rem(55);
}

.btn4 { // blue, block, width 100%
  display: block;
  width: 100%;
  height: rem(55);
  border-radius: rem(3);
  background-color: #2a86e1;
  font: rem(18) $nunitosans-bold;
  color: #fff;
  text-align: center;
}
a.btn4 {
  line-height: rem(55);
}

.bottom-btns { // fixed bottom block with 1 (.bottom-btn3) or 2 (.bottom-btn1, .bottom-btn2) buttons
  @include box-sizing(border-box);
  height: rem(85);
  position: fixed;
  bottom: 0;
  left: 0;
  width: $app_width;
  padding: rem(15);
  //border-top: rem(1) solid #b2b2b2;
  box-shadow: inset 0 rem(1) 0 0 rgba(100, 115, 129, 0.32);
  background-color: #fff;
  z-index: 35; //временно
}
.bottom-btn1, .bottom-btn2 {
  @include box-sizing(border-box);
  display: block;
  width: rem(165);
  height: rem(55);
  border-radius: rem(3);
  text-align: center;
}
a.bottom-btn1, a.bottom-btn2, a.bottom-btn3 {
  line-height: rem(55);
}
.bottom-btn1 {
  float: left;
  background-color: #fff;
  border: solid rem(1) #2f87de;
  font: rem(18) $nunitosans;
  color: #2a86e1;
}
.bottom-btn2 {
  float: right;
  background-color: #2a86e1;
  font: rem(18) $nunitosans-bold;
  color: #fff;
}
.bottom-btn3 {
  @include box-sizing(border-box);
  display: block;
  height: rem(55);
  border-radius: rem(3);
  text-align: center;
  width: 100%;
  background-color: #2a86e1;
  font: rem(18) $nunitosans-bold;
  color: #fff;
}



.bottom-btns-block { // two bnts with 'sorry not interested'
  position: fixed;
  bottom: rem(55);
  //height: rem(134);
  background-color: #fff;
  //overflow: hidden;
  z-index: 25;
  .bottom-btns {
    position: relative;
    box-shadow: none;
  }
  .link-btn {
    display: block;
    height: rem(44);
    width: 100%;
    background-color: transparent;
    text-align: center;
    font: rem(18) $nunitosans;
    color: #637280;
    margin-bottom: rem(5);
  }
}
// END Buttons



// frame-header
.frame-header {
  @include box-sizing(border-box);
  height: rem(50);
  position: fixed; //absolute;
  top: 0;
  left: 0;
  width: $app_width;
  -webkit-backdrop-filter: blur(rem(10));
  backdrop-filter: blur(rem(10));
  background-color: #fff; //rgba(255, 255, 255, 0.9);
  box-shadow: 0 rem(0.5) 0 0 #b2b2b2;
  z-index: 50;
}
.frame-title {
  font: #{rem(20)}/#{rem(50)} $nunitosans-bold;
  text-align: center;
  color: #030303;
  white-space: nowrap;
}
.back-link {
  display: block;
  position: absolute;
  padding: rem(5);
  top: rem(10);
  left: rem(20);
  svg {
    display: block;
    width: rem(26);
    height: rem(20);
    color: #2A86E1;
  }
}
.filters-link {
  position: absolute;
  right: rem(15);
  top: 0;
  font: #{rem(17)}/#{rem(50)} $nunitosans;
  letter-spacing: rem(-0.4);
  color: #2A86E1;
  &.active {
    &:after {
      content: '';
      position: absolute;
      top: rem(11);
      right: rem(-9);
      width: rem(10);
      height: rem(10);
      background-color: #fc694f;//#2A86E1;
      border-radius: 50%;
      border: rem(2) solid #fff;
    }
  }
}
.close-link {
  display: block;
  position: absolute;
  padding: rem(5);
  top: rem(10);
  left: rem(20);
  svg {
    display: block;
    width: rem(18);
    height: rem(18);
    color: #2A86E1;
  }
}
// END frame-header


// bottom-menu
.bottom-menu {
  @include box-sizing(border-box);
  height: rem(55);
  position: fixed;
  bottom: 0;
  left: 0;
  width: $app_width;
  padding: rem(6) rem(15) rem(6) rem(10);
  border-top: rem(1) solid #b2b2b2;
  background-color: #fff;
  z-index: 30;
}
.bottom-menu-list {
  text-align: justify;
  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
}
.bottom-menu-item {
  display: inline-block;
  vertical-align: top;
  .img-wrapper {
    height: rem(27);
    margin: 0 auto rem(5);
  }
  .svg-ordinary use {
    color: #637280;
    fill: #fff;
  }
  .svg-notification {
    display: none;
  }

  &.active {
    .svg-ordinary use {
      color: #2A86E1;
      fill: #E3F0FD;
    }
    .item-title {
      color: #2a86e1;
    }
  }
  &.news {
    .img-wrapper {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        bottom: rem(-2);
        right: rem(-5);
        width: rem(10);
        height: rem(10);
        background-color: #fc694f;//#2A86E1;
        border-radius: 50%;
        border: rem(2) solid #fff;
      }
    }
  }
  svg {
    display: block;
  }
  &.work-status {
    .img-wrapper {
      width: rem(25);
      //height: rem(25);
    }
    svg {
      width: rem(25);
      height: rem(25);
    }
  }
  &.orders {
    .img-wrapper {
      width: rem(24);
      //height: rem(24);
    }
    svg {
      width: rem(24);
      height: rem(24);
    }
  }
  &.recommended {
    min-width: rem(70);
    .img-wrapper {
      width: rem(22);
      //height: rem(27);
    }
    .svg-ordinary {
      width: rem(22);
      height: rem(27);
    }
    .svg-attention {
      display: none;
    }
    &.notification {
      .img-wrapper {
        //margin-top: rem(-12);
        position: relative;
        /*&:before {
          content: '';
          background: #FC694F;
          width: rem(55);
          height: rem(55);
          border: rem(5) solid #fff;
          border-radius: 50%;
          position: absolute;
          top: rem(-7);
          left: 50%;
          margin-left: rem(-32);
          z-index: 40;
        }*/
        .svg-ordinary {
          display: none;
        }
        .svg-notification {
          display: block;
          width: rem(69);
          height: rem(69);
          position: absolute;
          top: rem(-20);
          left: 50%;
          margin-left: rem(-35);
          z-index: 100;
        }
      }
      .item-title {
        display: none;
      }
    }
  }
  &.my-orders {
    .img-wrapper {
      width: rem(22);
      //height: rem(25);
    }
    svg {
      width: rem(22);
      height: rem(25);
    }
  }
  &.more {
    .img-wrapper {
      width: rem(21);
      //height: rem(25);
    }
    svg {
      width: rem(21);
      height: rem(25);
    }
  }
  .item-title {
    font-size: rem(10);
    letter-spacing: rem(0.1);
    text-align: center;
    color: #7e8994;
  }
}
// END bottom-menu

.bottom-input {
  position: fixed;
  bottom: 0;
  left: 0;
  width: $app_width;
  box-shadow: inset 0 rem(1) 0 0 rgba(0, 0, 0, 0.22);
  background-color: #fff;
  input[type=text] {
    @include box-sizing(border-box);
    display: block;
    width: rem(295);//100%;
    border: none;
    background-color: transparent!important;
    padding-left: rem(20);
    padding-right: rem(20);
    height: rem(50);
    font: rem(18) $nunitosans;
    color: #283a4c;
    word-break: break-word;
  }
}
.bottom-send-bnt {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background-color: transparent;
  width: rem(80);
  padding: 0;//0 rem(20);
  font: rem(18) $nunitosans-bold;
  color: #2a86e1;
  text-align: center;
  @include transition(opacity .3s ease);
  &:disabled {
    opacity: 0.2;
    cursor: default;
  }
}


// Attached files list
.attached-files-list { //messages, order-details
}
.attached-files-list-item {
  position: relative;
  &:not(:first-child) {
    margin-top: rem(14);
  }
  svg {
    display: block;
    width: rem(20);
    height: rem(18);
    position: absolute;
    top: rem(1);
    left: 0;
  }
  .attached-file-name {
    display: block;
    padding-left: rem(35);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font: rem(17) $nunitosans; ///1.53
    color: #2a86e1;
  }
}
// END Attached files list
