.logo-img {
  text-align: center;
  svg {
    width: rem(69);
    height: rem(40);
    fill: #2a86e1
  }
}

// Login frame
.login-frame {
  .logo-img {
    padding-top: rem(55);
  }
  .login-title {
    font-size: rem(24);
    color: #2a86e1;
    text-align: center;
    margin-top: rem(55);
  }
}

.form-block {
}
.form-list {
  margin-top: rem(25);
  margin-bottom: rem(25);
  &.error {
    margin-top: rem(20);
    .form-list-error-msg {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.form-list-error-msg {
  display: none;
  height: rem(44);
  vertical-align: middle;
  margin-top: rem(14);
  text-align: center;
  font-size: rem(16);
  color: #fc694f;
}

.form-list-item {
  &:not(:first-child) {
    margin-top: rem(15);
  }
  &.error {
    .form-list-input {
      background-color: rgba(250, 105, 85, 0.07);
      border-color: #fb6a55;
      color: #df4e35;
      @include input-placeholder { color: #df4e35; }
    }
  }
}
.form-list-btn {
  margin-top: rem(20);
}
.form-list-checkbox {
  margin-top: rem(25);
  position: relative;
  padding-left: rem(40);
  input[type="checkbox"] {
    display: none;
    &:not(:checked) {
      + .form-list-checkbox-label {
        .checkbox-off {
          display: block;
          position: absolute;
          left: 0;
          top: rem(-2);
          width: rem(24);
          height: rem(24);
        }
        .checkbox-on {
          display: none;
        }
      }
    }
    &:checked {
      + .form-list-checkbox-label {
        .checkbox-on {
          display: block;
          position: absolute;
          left: 0;
          top: rem(-2);
          width: rem(24);
          height: rem(24);
        }
        .checkbox-off {
          display: none;
        }
      }
    }
  }

  .form-list-checkbox-label {
    font-size: rem(16);
    line-height: 1.38;
    color: #7e8994;
    @include user-select(none);
  }
}

.form-list-input {
  width: 100%;
  font: rem(18) $nunitosans;
  padding: rem(16) rem(20) rem(15);
  @include box-sizing(border-box);
  border-radius: rem(3);
  border: solid rem(1) rgba(127, 138, 147, 0.5);
}
/*
.form-list-left, .form-list-right {
  width: 50%;
  @include box-sizing(border-box);
  text-align: center;
}
.form-list-left {
  float: left;
  padding-right: rem(10);
}
.form-list-right {
  float: right;
  padding-left: rem(10);
}
*/
.form-list-btn1 {
  display: block;
  height: rem(55);
  border-radius: rem(3);
  background-color: #2a86e1;
  width: 100%;
  font: rem(18) $nunitosans-bold;
  border: none;
  color: #fff;
}
a.form-list-btn1 {
  line-height: rem(55);
}

.form-list-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: $app_width;;
  text-align: center;
}

.form-list-link { //Restore password
  display: inline-block;
  font-size: rem(16);
  color: #2a86e1;
  margin-bottom: rem(35);
}

// END Login frame
