.more-signed {
  font-size: rem(16);
  color: #7e8994;
  margin-bottom: rem(1);
}
.more-title {
  font: #{rem(30)}/#{rem(41)} $nunitosans-bold;
  color: #283a4c;
  margin-bottom: rem(9);
}
.logout-btn {
  display: inline-block;
  height: rem(45);
  border-radius: rem(3);
  background-color: #2a86e1;
  padding: 0 rem(46);
  font: rem(18) $nunitosans;
  color: #fff;
}
a.logout-btn {
  line-height: rem(45);
}
.more-txt1 {
  font: rem(15)/#{1.6} $nunitosans;
  color: #637280;
  margin-top: rem(26);
  .link {
    font-family: $nunitosans-bold;
    color: #637280;
  }
}
.more-txt2 {
  font: #{rem(16)}/#{1.56} $nunitosans;
  color: #283a4c;
  margin-top: rem(26);
}

.more-contact-list {
  margin-top: rem(17);
  .link {
    font: #{rem(16)}/#{1.69} $nunitosans;
    color: #2671d6;
  }
}
.more-contact-list-label {
  font: #{rem(16)}/#{1.69} $nunitosans-bold;
  color: #283a4c;
  &.call-us {
    display: block;
    float: left;
  }
}
.link-block {
  //float: left;
  overflow: hidden;
  .link {
    display: block;
    margin-left: rem(5);
  }
}
.more-pp-link {
  display: inline-block;
  margin-top: rem(24);
  font-size: rem(16);
  line-height: 1.5;
  color: #2a86e1;
  text-decoration: underline;
}