.splash-frame {
  height: 100%;
  min-height: rem(500);
  position: relative;
  .logo-img {
    padding-top: rem(120);
  }
}
.splash-title {
  font: rem(26) $nunitosans-bold;
  margin-top: rem(25);
  text-align: center;
  color: #253749;
}
.splash-subtitle {
  font: rem(24) $nunitosans;
  text-align: center;
  color: #253749;
}
.splash-bottom-line {
  font-size: rem(18);
  width: rem(218);
  color: #637280;
  position: absolute;
  bottom: rem(92);
  left: 50%;
  margin-left: rem(-109);
  text-align: center;
}


.carousel {
  //remove the image dragging
  img {
    user-drag: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    user-select: none;
  }
}

.carousel-inner {
  .item {
    text-align: center;
    svg {
      display: block;
    }
    .btn3 {
      margin-top: rem(113);
    }
  }
  .svg-wrapper {
    @include box-sizing(border-box);
    height: rem(334);
  }

  .frame1 {
    .svg-wrapper {
      padding: rem(103) 0 0 rem(108);
    }
    svg {
      width: rem(201);
      height: rem(172);
    }
  }
  .frame2 {
    .svg-wrapper {
      padding: rem(105) 0 0 rem(103);
    }
    svg {
      width: rem(194);
      height: rem(181);
    }
  }
  .frame3 {
    .svg-wrapper {
      padding: rem(84) 0 0 rem(108);
    }
    svg {
      width: rem(203);
      height: rem(188);
    }
  }
  .frame4 {
    .svg-wrapper {
      padding: rem(96) 0 0 rem(104);
    }
    svg {
      width: rem(200);
      height: rem(188);
    }
  }

}

.carousel-frame-title {
  font: #{rem(30)}/#{rem(41)} $nunitosans-bold;
  color: #637280;
  text-align: center;
}
.carousel-frame-subtitle {
  font: #{rem(18)}/#{1.44} $nunitosans;
  text-align: center;
  color: #637280;
  margin-top: rem(24);
  padding: 0 rem(25);
}
.carousel-indicators {
  top: rem(518);
  bottom: auto;
  li {
    background-color: #e1effd;
    width: rem(9);
    height: rem(9);
    border: none;
    &:not(:first-child) {
      margin: 0 0 0 rem(5);
    }
  }
  .active {
    background-color: #2a86e1;
    border: none;
    width: rem(9);
    height: rem(9);
  }
}