.page-title {
  font: rem(24) $nunitosans;
  color: #283a4c;
  padding-bottom: rem(1);
  .orders-number {
    font-family: $nunitosans-bold;
  }
}
.subject-list-item {
  //width: rem(325);
  box-shadow: inset 0 rem(-1) 0 0 rgba(127, 138, 147, 0.25);
  display: table;
  width: 100%;
  padding: rem(11) 0;
}
.subject-list-link {
  display: table-row;
  //@include box-sizing(border-box);
  height: rem(70 - 22);
}
.subject-list-title {
  font: rem(18) $nunitosans;
  color: #2a86e1;
  width: 85%;
  display: table-cell;
  vertical-align: middle;
}
.subject-list-count {
  font: rem(17) $nunitosans-bold;
  color: #637280;
  //@include box-sizing(border-box);
  //height: rem(70);
  //padding: rem(11) 0;
  width: 15%;
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}









.order-list-item {
  padding: rem(15) 0 rem(12);
  box-shadow: inset 0 rem(-1) 0 0 rgba(127, 138, 147, 0.25);
}
.order-list-link {
  display: block;
}


.order-list-title {
  float: left;
  font: #{rem(16)}/#{1.3} $nunitosans-bold;
  color: #2a86e1;
  width: rem(240);
  display: table-cell;
  vertical-align: middle;
  word-wrap: break-word;
}
.order-list-price {
  float: right;
  width: rem(70);
  font: rem(18) $nunitosans-bold;
  text-align: right;
  color: #637280;
}
.order-list-line1 {
  padding-bottom: rem(17);
}
.order-list-deadline {
  font: rem(16) $nunitosans-bold;
  width: rem(180);
  float: left;
  color: #637280;
  span {

  }
}
.order-list-pages {
  float: right;
  text-align: right;
  width: rem(120);
  font: rem(16) $nunitosans;
  line-height: 1.38;
  color: #637280;
}


// order details
.order-details-subject {
  position: relative;
  font: rem(15) $nunitosans-bold;
  color: #637280;
  margin-bottom: rem(14);
  &:before {
    content: '';
    display: inline-block;
    width: rem(14);
    height: rem(14);
    background-color: #2a86e1;
    margin-right: rem(8);
    vertical-align: rem(-1);
  }
}
.order-details-title {
  font: rem(26) $nunitosans-bold;
  line-height: 1.35;
  color: #283a4c;
  margin-bottom: rem(20);
  word-wrap: break-word;
}
.order-details-list {
  border-radius: rem(3);
  background-color: #ebf7ff;
  padding: rem(11) rem(15) rem(17);
}
.order-details-list-item {
  font: rem(16) $nunitosans;
  line-height: 1.63;
  color: #283a4c;
}
.order-details-list-label {
  font-family: $nunitosans-bold;
}
.order-details-list-price {
  font: rem(21) $nunitosans-bold;
  color: #283a4c;
  margin-top: rem(13);
}
.order-details-desc-block {
  margin-top: rem(30);
}
.order-details-desc-label {
  font: rem(19) $nunitosans-bold;
  color: #283a4c;
  margin-bottom: rem(11);
}
.order-details-desc-msg {
  font-size: rem(18);
  line-height: 1.44;
  color: #637280;
}
.order-details-desc-show-more {
  font: rem(18) $nunitosans-bold;
  color: #236fd9;
}
.attached-files-block {
  margin-top: rem(40);
  .attached-files-btn {
    margin-top: rem(25);
  }
}
