.my-order-list-item {
  &:not(:first-child) {
    box-shadow: inset 0 rem(1) 0 0 rgba(127, 138, 147, 0.25);
    padding-top: rem(25);
  }
  &:not(:last-child) {
    padding-bottom: rem(25);
  }
}
.my-order-list-msg {
  float: left;
  margin-right: rem(20);
  position: relative;
  svg {
    display: block;
    fill: #FC694F;
    width: rem(22);
    height: rem(27);
  }
  span {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: rem(22);
    font: #{rem(14)}/#{rem(22)} $nunitosans-bold;
    color: #fff;
    text-align: center;
  }
}
.my-order-list-number {
  font: #{rem(17)}/#{rem(22)} $nunitosans-bold;
  color: #637280;
  float: left;
}
.my-order-list-status {
  display: block;
  float: right;
  @include box-sizing(border-box);
  //height: rem(22);
  border-radius: rem(3);
  font: #{rem(12)}/#{1} $nunitosans-bold;
  letter-spacing: rem(1.2);
  text-transform: uppercase;
  color: #fff;
  padding: rem(5) rem(6);
  &.in-progress {
    background-color: #26c988;
  }
  &.reserved {
    background-color: rgba(126, 137, 148, 0.5);
    border: solid rem(1) rgba(127, 138, 148, 0.7);
  }
  &.completed {
    background-color: rgba(126, 137, 148, 0.5);
    border: solid rem(1) rgba(127, 138, 148, 0.7);
  }
}
.my-order-list-title {
  font: #{rem(18)}/#{1.3} $nunitosans-bold;
  color: #2a86e1;
  margin: rem(11) 0 rem(15);
  word-wrap: break-word;
}
.my-order-list-deadline {
  float: left;
  font: rem(16);
  color: #637280;
  span {
    font-family: $nunitosans-bold;
  }
}
.my-order-list-price {
  float: right;
  font: rem(18) $nunitosans-bold;
  color: #637280;
}
.my-order-list-pages {
  font: rem(17);
  color: #637280;
  margin-top: rem(5);
}