/* main container styles */
.drum-wrapper {
	position: relative;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    width: 100%;
}
.drum-wrapper .inner {
	position: relative;
	overflow: hidden;
}
.drum-wrapper .container {
	position: absolute;
	width: 100%;
	top: rem(48);
	left: 0;
	-webkit-perspective: rem(1100);
	-moz-perspective: rem(1100);
	-o-perspective: rem(1100);
	perspective: rem(1100);
}

.drum-wrapper,
.drum-wrapper .inner {
	height: rem(160);//rem(220);//rem(120);
}

.outside .drum-wrapper {
	//height: rem(140);
}
.outside .drum-wrapper .inner {
	top: rem(12);
}
.outside .drum-wrapper .container {
	top: rem(46);
}

/* dail styles for mouse controls */
.drum-wrapper .dial {
	position: absolute;
	width: 100%;
	left: rem(0);
	height: rem(48);
	background-color: rgba(255, 255, 255, 0.7);
	display: none;
}

.outside div.drum-wrapper .dial {
	height: rem(58);
}

.drum-wrapper .dial div {
	width: rem(20);
	height: rem(10);
	margin: 0 auto;
}
.drum-wrapper .dial svg {
	position: absolute;
}
.drum-wrapper .up {
	top: rem(0);
}
.drum-wrapper .up svg {
	top: rem(2)
}
.drum-wrapper .down {
	bottom: rem(0);
}
drum-wrapper .down svg {
	bottom: rem(2);
}

/* actual drum styles */
.drum {
	width: 100%;
	height: 100%;
	position: absolute;
	top: rem(0);
	left: rem(0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.drum figure {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;  
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	display: block;
	position: absolute;
	left: rem(0);
	top: rem(0);
	//line-height: rem(20);
	margin: rem(0);
	//padding: rem(0) rem(3);
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;

  font: #{rem(25)}/#{rem(45)} $nunitosans-bold;
  height: rem(45);

  text-align: center;
  color: #2f87de;

  //padding: rem(7) 0;

}

.drum-wrapper .container, .drum-wrapper figure {
  height: rem(45);
  line-height: rem(45);
	//height: rem(25);
	//line-height: rem(25);
}


.drum-wrapper {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    @include box-sizing(border-box);
    top: rem(45);//50%;
    left: 50%;
    margin: 0 0 0 rem(-147);
    width: rem(295);
    height: rem(45);
    border: solid rem(2) rgba(#2f87de,0.3);
//    @include pointer-events(none);
    pointer-events: none;
    -webkit-user-select: none;
  }
}